*{
    margin: 0;
}

:root{
    --width-sidebar: 1.2vw;
}

.container{
    display: grid;
    grid-template-columns: repeat(4, minmax(10vw, 25vw));
    grid-template-rows: repeat(4, 1fr);
}

.dashboard{
    grid-row: 1/5;
    height: 100vh;
    box-sizing: border-box;
    border:1px solid black;
    background-color: #000000;
    color: white;
    font-family: 'Libre Franklin', sans-serif;   
    display: grid;
    grid-template-rows: 10vh;
    /* and this one below */
    grid-template-columns: minmax(10vw, 25vw);
    grid-auto-rows: auto;
}

.dash-logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 15px;
    font-size: clamp(20px, 2vw, 33px);
    width: 250px;
}

.dash-logo-text svg {
    padding-right: 10px;
}

.panel-1{
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: flex-start;
    grid-template-rows: repeat(6, 60px);
}

.panel-2{
    display: grid;
    align-content: center;
    align-items: center;
    justify-items: flex-start;
    grid-template-rows: repeat(3, 60px);
}

li{
    list-style: none;
}

li a {
    font-size: clamp(14px, 1.2vw, 28px);
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 10px;
    width: minmax(200px, 300px);    
    padding: 10px;
}

li a:hover{
    transform: translateY(-2px);
    background-color: #292929bb;
    border-radius: 25px;
}

li a:active{
    transform: translateY(2px);
    background-color: #292929;
    border-radius: 25px;
}

li a {
    padding-right: 10px;
}

.nav{
    font-family: 'Sora';
    display: grid;
    width: 75vw;   
    background-color: black;
    color: white;
    
    grid-template-columns: clamp(200px, 80%, 30vw) minmax(300px, 45vw);
    grid-template-rows: 10vh;
    grid-auto-rows: auto;
}

.searchbar-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 10px;
}

.notif-profile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding-right: 40px;
    width: auto;
    /* display: grid;
    grid-template-columns: 80px 80px auto;
    align-items: center; */
}

#searchbar {
    display: flex;
    flex: 1;
    color: white;
    background-color: #292929;
    border-radius: 20px;
}

.nav-user {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.nav-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.user-name {
    font-size: clamp(.8rem, 2vw, 1rem);
}

.current-name {
    font-size: clamp(1rem, 2vw, 23px);
}

.nav-profile svg {
    width: clamp(30px, 3vw, 50px);
    padding: 0 10px;
}

.nav-action {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    gap: 30px;
}

.nav-action button{
    background-color: #7d7d7d;
    border-radius: 20px;
    border: 1px solid #414141;
    color: white;

    width: 100px;
    height: 30px;
    font-size: clamp( 0.8rem, 1vw, 1rem);
}

.content {
    grid-column: 2/5;
    grid-row: 2/5;
    width: 75vw;
    height: auto;

    display: grid;
    grid-template-columns: 55vw 20vw ;
}


.title-content, .title-announce, .title-trending{
    background-color: black;
    color: white;
    padding: 10px 20px ; 
    height: 5vh;
    display: flex;
    align-items: flex-end;
    font-family: Sora, sans-serif;
    font-size: clamp( 1rem, 2vw, 1.2rem);
}

.content-cards {
    background-color: #000;
}

.card {
    display: grid;
    padding: 20px;
    gap: 20px;
    height: fit-content;

    background-color: #000000;
    grid-template-columns: repeat(auto-fit, minmax(250px, 16vw));
    grid-template-rows: repeat(auto-fit, minmax( 150px, 20vh));
}

.cards{
    font-size: clamp(0.8rem, 1vw, 15px);
    font-family: Nunito, sans-serif;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 0 15px;
    gap: 5px;
    background-color: #414141;
    color: whitesmoke;
    border-left: 6px solid white;
    border-radius: 10px;
}

.cards-caption, .announce-caption{
    font-weight: 600;
}
.cards-buttons{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.content-side {
    background-color: black;
}
.announce-sec {
    display: grid;
    width: 15vw;
    height:35vh;
    padding: 20px;
    gap: 10px ;
    grid-template-rows: repeat(3, minmax( 80px, 200px ));
}

.announce-card {    
    background-color: #414141;
    border-radius: 10px;
    color: whitesmoke;
    padding: 15px;
    font-family: Ninito, sans-serif;
    font-size: 13px;
    border-left: 6px solid white;
}
